.background {
  background-color: rgba(222, 222, 222, 1);
}
.text-red-600{
  color: red;
}
.login {
  
  width: auto;
  z-index: 999;
}

.foto {
  z-index: 1;
}
.tombol {
  width: 100%;
  color: white;
  background-color: #00b98e;
}
label.error {
  display: block;
  color: red;
  border: red;
  font-size: 14px;
  font-weight: 200;
}


.bawah {
    bottom: 0;
}